#class {
  width: calc(100% - 40px);
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

#class ~ .footer {
  position: relative;
}

#class .search {
  padding: 20px 70px 0;
  background-color: #e49189;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#class .search .label {
  width: calc(33% - 17px);
}

.search_icon {
  width: 25px;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
}

.search_icon img {
  width: 20px;
  margin-left: 5px;
}

.search_icon p {
  display: none;
}

#class .search select {
  font-size: 16px;
}

.content_class {
  background-color: #fdfbf7;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
  margin-bottom: 90px;
}

.class_item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
  transition:all .3s;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -ms-transition:all .3s;
  -o-transition:all .3s;
  padding-left: 175px;
  position: relative;
}

.class_item .img {
  width: 135px;
  height: 135px;
  background-color: #fff;
  border-radius: 20px;
  border: solid 1px #dcdcdc;
  position: absolute;
  left: 20px;
}

.class_item .text {
  text-align: left;
  padding-top: 10px;
  width: 100%;

}

.class_item .text > * {
  margin-bottom: 10px;
}

.class_item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.class_item h3 font {
  font-size: 13px;
  margin-left: 15px;
}

.class_item h4 {
  color: #6050f7;
  font-size: 16px;
  line-height: 1.3;
}

.class_item .detail {
  line-height: 1.5;
  font-size: 13px;
  color: #565656;
}

.detail .th {
  position: relative;
  padding-left: 70px;
  margin-bottom: 5px;
  min-height: 20px;

}

.class_item .detail span {
  display: inline-block;
  position: absolute;
  left: 0;
}

.subject {
  text-align: left;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .class_item:hover {
    background: #f5f2ed;
  }
}

@media (max-width: 768px) {
  #class .search {
    padding: 20px 30px 0;
  }
}
@media (max-width: 599px) {
  #class .search {
    flex-direction: column;
    padding: 20px 20px 0;
  }
  #class .search .label {
    width: 100%;
  }

  .search_icon p {
    display: inline-block;
    letter-spacing: 7px;
  }

  .search_icon img {
    display: none;
  }

  .search_icon {
    width: 100%;
    background-color: #fff;
    height: 42px;
    margin: 10px auto 30px;
    border-radius: 24px;
    line-height: 24px;
    justify-content: center;
    color: #e49189;
    font-weight: bold;
  }
  .content_class {
    padding: 0;
    margin-bottom: 50px;
  }

  .class_item {
    padding-left: 20px;
  }

  .class_item .img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 10px;
    position: relative;
    left: 0;
  }
  .class_item h3 {
    font-size: 19px;
  }
  .class_item h4 {
    font-size: 15px;
    padding-right: 20px;
  }
  .subject {
    width: calc(100% - 95px);
  }
}
