@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
* {
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Noto Sans", sans-serif !important;
}
*:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

a {
  color: inherit;
}

body > div {
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}

body {
  text-align: center;
  background-color: #f5eade;
}
#__layout {
  padding-left: 20px;
  padding-right: 20px;
}
.f_pink {
  color: #e49189;
}
.f_d_grey {
  color: #565656;
}
.f_white {
  color: #fff;
}
.bg_pink {
  background-color: #f5eade;
}
.bg_white {
  background-color: #fff;
}
.bg_d_grey {
  background-color: #565656;
}
.W1060 {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}
.W1440 {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header,
.footer {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 100px;
  background-color: #fff;
  width: 100%;
}

.logo {
  width: 237px;
  margin: 14px 0;
  cursor: pointer;
}

.nav {
  float: right;
  z-index: 2;
}

.nav > li {
  padding: 0 22px;
  line-height: 100px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #5a5a5a;
  cursor: pointer;
}

.with_list {
  position: relative;
  padding-right: 30px;
}

.with_list:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 0;
  border: 2px solid #333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg) translate(0%, -110%);
}

.sub_list {
  background-color: #e49189;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
  padding: 20px 10px;
  text-align: center;
  display: grid;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  z-index: -1;
}

.sub_list li {
  color: #fff;
  margin: 15px auto;
  padding: 0;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}

.nav > li.active {
  background-color: #e49189;
  color: #fff;
}

.nav > li.active .sub_list {
  opacity: 1;
  z-index: 1;
}

.nav > li.active .with_list:after {
  border-color: #fff;
}

.menu {
  display: none;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  padding: 20px;
}

.footer h5 {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer a {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
}

.footer > div {
  display: flex;
  flex-wrap: wrap;
}

.footer .contact_info {
  margin-left: 40px;
  font-size: 11px;
  line-height: 1.6;
  margin-top: -5px;
}

.content {
  border-radius: 30px;
  background-color: #ffffff;
  padding: 30px;
  width: calc(100% - 40px);
  margin: 50px auto;
}

.link_underline {
  float: left;
  color: #5a5a5a;
  padding: 6px 0;
  font-size: 14px;
  border-bottom: 1px solid #5a5a5a;
}
.label {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.label p {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 15px;
  margin-bottom: 12px;
  color: #000;
  padding-left: 15px;
  line-height: 1.5;
}

.label.white p {
  color: #fff;
}

.label .err_msg {
  color: #ec6868;
  font-size: 14px;
  margin: 12px 0 0;
  padding-left: 15px;
}

.label input,
.label select {
  -webkit-appearance: none;
  width: 100%;
  height: 48px;
  padding: 8px 20px;
  font-size: 18px;
  background-color: #e49189;
  border-radius: 24px;
  border: none;
  color: #fff;
}

.label.white input,
.label.white select {
  color: #4c4c4c;
  background-color: #eaeaea;
}

.label input::placeholder,
.label select::placeholder {
  color: #ddd;
}
.label input[type="checkbox"],
.label select[type="checkbox"] {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  margin-right: 10px;
}
.label input[type="checkbox"]:checked + label,
.label select[type="checkbox"]:checked + label {
  border-color: #fff;
}
.label select {
  color: #fff;
}
.label_select_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.label_select_3 .select_wrap {
  position: relative;
  width: calc(33% - 5px);
}
.label_select_3 .select_wrap:after {
  content: "";
  color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  right: 20px;
  border: 2px solid #666;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg) translate(0%, -110%);
}

.label .checkbox_wrap {
  position: relative;
}
.label .checkbox_wrap label {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 10px;
  top: calc(50% - 3px);
  left: calc(50% - 5px);
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg) translate(0%, -110%);
}
.label .checkbox_wrap input:checked + label:after {
  border-color: #fff;
}
.switch_btn {
  display: inline-block;
  width: 270px;
  line-height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}
.switch_btn a {
  color: #fff;
  background-color: #dcdcdc;
  display: inline-block;
  width: 50%;
  text-align: center;
  margin: 0;
  font-size: 20px;
  float: left;
  cursor: pointer;
}

.switch_btn a.active {
  background-color: #c45555;
}

.btn {
  margin-right: 15px;
  border-radius: 10px;
  display: inline-block;
  line-height: 45px;
  color: #fff;
  background-color: #565656;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 769px) {
  .sub_list li:hover {
    opacity: 0.8;
  }

  .nav > li:hover p {
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .header {
    height: 70px;
    padding: 0 15px;
    border-bottom: 1px solid #f5e9dd;
  }
  .header .logo {
    width: 160px;
    margin: 10px 0;
  }
  .nav {
    position: absolute;
    top: 70px;
    width: 100vw;
    left: 0;
    background-color: #fff;
    transform: translate(0, -100vh);
    -webkit-transform: translate(0, -100vh);
    -moz-transform: translate(0, -100vh);
    -ms-transform: translate(0, -100vh);
    -o-transform: translate(0, -100vh);
  }
  .nav.open {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
  .nav > li {
    display: block;
    line-height: 50px;
    border-bottom: 1px solid rgb(230 230 230 / 35%);
  }
  .sub_list {
    top: 50px;
    padding-left: 20px;
  }

  .sub_list li {
    margin-left: 30px;
  }

  .menu {
    background: #db9081;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
    display: block;
    position: absolute;
    border-radius: 50%;
    display: block;
    position: fixed;
  }

  .menu::before,
  .menu::after {
    background: #fff;
    width: 20px;
    height: 2px;
    left: 10px;
    display: block;
    position: absolute;
    transition: all 0.3s ease;
    content: "";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .menu::before {
    top: 16px;
  }
  .menu::after {
    bottom: 16px;
  }
  .menu.open::before {
    transform: rotate(45deg) translate(2px, 2px);
    -webkit-transform: rotate(45deg) translate(2px, 2px);
    -moz-transform: rotate(45deg) translate(2px, 2px);
    -ms-transform: rotate(45deg) translate(2px, 2px);
    -o-transform: rotate(45deg) translate(2px, 2px);
  }
  .menu.open::after {
    transform: rotate(-45deg) translate(2px, -2px);
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -moz-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    -o-transform: rotate(-45deg) translate(2px, -2px);
  }
  .label {
    margin-bottom: 20px;
  }
  .label input,
  .label select {
    font-size: 14px;
    height: 42px;
  }
  .label_select_3 .select_wrap:after {
    width: 6px;
    height: 6px;
    right: 10px;
  }
  .switch_btn {
    width: 200px;
  }
  .switch_btn a {
    font-size: 16px;
  }
}
