#login {
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;

}

#login .content{
  padding: 70px;
}

h3 {
  margin: 0 0 60px;
  font-size: 24px;
}

.btn_area {
  padding-top: 30px;
  text-align: center;
}

.link_underline {
  margin-left: 15px;
  padding-top: 11px;
}

.view {
  display: none;
}

.view.active {
  display: block;
}

.title {
  display: inline-block;
  width: 270px;
  line-height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  background-color: #c45555;
  color: #fff;
}

@media (max-width: 599px) {
  #login .content{
    padding: 30px;
  }

  .login_wrapper {
    padding: 30px 20px;
    margin: 30px auto 20px;
  }

  .btn_area {
    padding-top: 20px;
  }

  h3 {
    font-size: 18px;
  }
  
}

